<% include ../partials/_header %>

<div class="container">

        <div class="row">
          <!--FORM-->
          <div class="col-md-5">
            <div class="card">
              <div class="card-body">
                <form action=
                <%if(tipo.tipo != null && tipo.tipo.length > 0) {%>
                  "/tipo/edit/<%= tipo._id %>" 
                <%}else{%>
                  "/tipo/add" 
                <%}%>
                method="post">
                  <div class="form-group">
                    <input class="form-control" type="text" name="tipo" placeholder="Tipo" value="<%=tipo.tipo%>">
                  </div>
                  <button class="btn btn-primary" type="submit">
                    Agregar
                  </button>
                </form>
              </div>
            </div>
          </div>
      
          <!-- LIST -->
          <div class="col-md-4">
            <table class="table table-bordered table-hover">
              <tbody>
                <% for(var i=0; i < tipos.length; i++) { %>
                  <tr>
                    <td><strong><%= tipos[i].tipo %></strong></td>
                    <td>
                      <a href="/tipo/edit/<%= tipos[i]._id %>" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a href="/tipo/delete/<%= tipos[i]._id %>"
                        class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                      </a>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
      
          </div>
        </div>
      
      </div>

<% include ../partials/_footer %>