<% include ../partials/_header %>

<div class="container">

        <div class="row">
          <!--FORM-->
          <div class="col-md-5">
            <div class="card">
              <div class="card-body">
                <form action=
                <%if(talle.talle != null) {%>
                  "/talle/edit/<%= talle._id %>" 
                <%}else{%>
                  "/talle/add" 
                <%}%>
                method="post">
                  <div class="form-group">
                    <input class="form-control" type="number" min="0" max="99" name="talle" placeholder="Talle" value="<%=talle.talle%>">
                  </div>
                  <button class="btn btn-primary" type="submit">
                    Agregar
                  </button>
                </form>
              </div>
            </div>
          </div>
      
          <!-- LIST -->
          <div class="col-md-4">
            <table class="table table-bordered table-hover">
              <tbody>
                <% for(var i=0; i < talles.length; i++) { %>
                  <tr>
                    <td><strong><%= talles[i].talle %></strong></td>
                    <td>
                      <a href="/talle/edit/<%= talles[i]._id %>" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a href="/talle/delete/<%= talles[i]._id %>"
                        class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                      </a>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
      
          </div>
        </div>
      
      </div>

<% include ../partials/_footer %>